body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

header {
    padding: 1rem;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
    gap: 0.5rem;
}

div > i {
    font-size: 2rem;
}

.wrapper {
    width: 375px;
    border: 1px solid black;
}


.dots-menu {
    justify-self: self-end;
}

.post--image {
    width: 375px;
}

.post--icons {
    display: flex;
    justify-content: space-between;
}

.icons--social {
    display: flex;
    gap: 0.5rem;

}

.post--content {
    padding: 1rem;
}

.post--icons i {
    font-size: 1.8rem;
}